* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$title-font: 'Playfair Display', serif;
$normal-font: 'Roboto', sans-serif;
$grey-text: rgba(38, 38, 38, 0.795);
$blue-background: rgb(16, 147, 187);

$breakpoint-tablet: 768px;

.total-container {
  min-width: 100%;
  width: 100%;
  max-width: 1920px;
  header {
    padding: 30px;

    min-width: 100%;

    background: linear-gradient(
      150deg,
      $blue-background 37%,
      white calc(37% + 1px)
    );
    .picture-container {
      display: grid;
      align-items: end;
      min-width: 100%;
      min-height: 525px;
      background-image: url('./images/profile-small.jpg');
      background-size: cover;
      box-shadow: 5px 5px 11px 1px rgba(5, 38, 46, 0.35);
      span {
        font: 4rem $title-font;
        padding: 10px 20px;
        color: white;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.542);
        letter-spacing: 2px;
      }
    }
    .about-me-container {
      padding-top: 25px;
      h1 {
        font: 2.8rem $title-font;
        text-align: center;
      }
      p {
        font: 1.6rem $normal-font;
        font-weight: 400;
        color: $grey-text;
        line-height: 35px;
      }
      .header-socials-container {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        i {
          color: black;
          font-size: 35px;
          padding: 0px 15px;
        }
      }
    }
  }
  main {
    padding-top: 100px;
    h2 {
      font: 2.8rem $title-font;
      text-align: center;
    }
    .projects-container {
      padding: 20px 20px 160px 20px;
      display: grid;
      gap: 50px 30px;
      grid-template-columns: repeat(auto-fit, minmax(240px, 420px));
      justify-content: center;

      @for $i from 1 through 6 {
        @debug nth-of-type(#{$i});
        div:nth-of-type(#{$i}) {
          .project-screenshot {
            background: rgb(random(255), random(255), random(255));
          }
        }
      }

      .project {
        display: grid;

        box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.241);

        .project-screenshot {
          font: 2.8rem $title-font;
          text-align: center;
          color: white;
          padding: 80px 15px;
        }
        .project-info {
          display: grid;
          grid-template-columns: 6fr 1fr 1fr;
          grid-row: 1fr 3fr;
          gap: 20px 5px;
          align-items: center;

          padding: 20px 20px 60px 20px;

          h3 {
            font: 1.6rem $title-font;
            padding-left: 10px;
          }

          span {
            font: 1.1rem $normal-font;
            font-weight: 500;
            color: $grey-text;
            grid-column: 1 / -1;
            grid-row: 2;
          }
          i {
            font-size: 1.6rem;
            align-self: end;
          }
          svg {
            height: 1.6rem;
            align-self: end;
          }
        }
      }
    }
  }
  footer {
    background: $blue-background;
    color: white;
    max-width: 100%;
    display: grid;

    .footer-info-container {
      padding: 30px 20px 105px;

      h4 {
        font: 2.8rem $title-font;
        text-align: center;
        padding-bottom: 15px;
      }
      span {
        display: block;
        padding-bottom: 30px;

        &:nth-of-type(1) {
          font: 1.4rem $normal-font;
          letter-spacing: 1px;
          line-height: 1.5rem;
        }
        &:nth-of-type(2) {
          font: 1.2rem $normal-font;
          font-weight: 300;
          letter-spacing: 1px;
          line-height: 1.5rem;
        }
        &:nth-of-type(3) {
          font: 1.2rem $normal-font;
          font-weight: 300;
          letter-spacing: 1px;
          line-height: 1.5rem;
          padding-bottom: 5px;
        }
        &:nth-of-type(4) {
          font: 1.2rem $normal-font;
          font-weight: 300;
          letter-spacing: 1px;
          line-height: 1.5rem;
          padding-left: 10px;
        }
        svg {
          display: none;
        }
      }
      .footer-socials-container {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        justify-items: center;
        i {
          font-size: 55px;
          color: black;

          &:nth-child(1) {
            justify-self: end;
          }
          &:nth-child(3) {
            justify-self: start;
          }
        }
      }
    }

    img {
      margin-top: auto;
      min-height: 100vh;
      width: 100%;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .total-container {
    header {
      padding: 150px 80px 10px;
      background: linear-gradient(
        170deg,
        $blue-background 45%,
        white calc(45.3% + 1px)
      );

      .about-me-container {
        background: white;
        box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.241);
        padding-top: 0;

        .picture-container {
          width: 40%;
          min-width: 350px;
          min-height: 400px;
          float: left;
          padding: 110px 0 0 55px;
          margin: -110px 20px 0 -55px;

          span {
            position: absolute;
            top: 30px;
            right: 50%;
            left: 40%;
            width: max-content;
          }
        }
        h1 {
          padding-top: 80px;
          padding-right: 30px;
          text-align: center;
        }
        p {
          grid-column: 1 / -1;
          padding: 20px 30px 80px 40px;
          font-size: 1.2rem;
          font-weight: 500;
        }
        .header-socials-container {
          display: none;
        }
      }
    }
    main {
      .projects-container {
        grid-template-columns: repeat(auto-fit, minmax(240px, 340px));
        gap: 40px;
        padding: 20px 10px 160px 10px;
      }
    }
    footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 30px 50px 50px 50px;
      .footer-info-container {
        padding: 0;
        h4 {
          text-align: start;
        }
        span {
          &:nth-of-type(1) {
            font-size: 1.2rem;
            font-weight: 300;
          }
          &:nth-of-type(3) {
            display: grid;
            grid-template-columns: min-content max-content;

            gap: 10px;
            align-items: center;
          }
          &:nth-of-type(4) {
            padding-left: 0;
            display: grid;
            grid-template-columns: min-content max-content;

            gap: 10px;
            align-items: center;
          }
          svg {
            display: inline-block;
          }
        }
        .footer-socials-container {
          justify-self: start;
          justify-items: start;
          width: 80%;
          i {
            font-size: 40px;
            &:nth-child(1) {
              justify-self: start;
            }
          }
        }
      }

      img {
        grid-column: 2;
        grid-row: 1 / -1;
        min-height: 300px;
        width: 80%;
        justify-self: end;
      }
    }
  }
}
